/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.Exit {
    background-color:black;
    color:aliceblue;
    position:absolute;
    right:5px;
    top:7px;
    

}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.in {
    padding: 2%;
    margin-left: 20px;
    position: absolute;
    right: 0px;
    padding-top: 10px;
    padding-right:100px;
    
}
.gmail{color:aliceblue;}
.letter:hover {
    text-decoration: none;
    color:aliceblue;
}
.letter 
{
    color:aliceblue;
  
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.container {
  padding:1%;
  font-size:20px;
}
.body-content {
    padding:50px;
}
a {
 
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
ul {
    
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
li {
    display: inline;
    padding:10px;

}